<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--是否随机连接MQTT服务器，False时以主服务器优先-->
    <add key="RandomConnection" value="false"/>
    <!--主MQTT服务器地址-->
    <add key="MqttConnectionUri" value="amqp://admin:admin@192.168.100.30:5672/pack" />
    <!--备用MQTT服务器地址-->
    <add key="MqttConnectionUri2" value="amqp://admin:admin@192.168.100.30:5672/pack" />
		<!--默认SDK客户端标识,当连接时传入的ClientID为空时使用此为客户端标识-->
		<add key ="ClientID" value="PACK#1"/>
    <!--MQTT交换机名称-->
		<add key="MqttExchangeName" value="default"/>
		<!--连接队列名-->
		<add key="ConnectionQueue" value="sys.connection"/>
		<!--连接心跳，毫秒-->
		<add key="HeartbeetInterval" value="30000"/>
		<!--设备控制队列名-->
		<add key ="ControlQueue" value="product.control.cmd"/>
		<!--业务请求超时时间，毫秒-->
		<add key ="RequestTimeOut" value="6000"/>
		<!--数据校验请求超时时间，毫秒-->
		<add key ="ValidateTimeOut" value="6000"/>
		<!--最大并行请求数-->
		<add key="MaxRequestNumber" value="100"/>
		<!--消息通知队列名-->
		<add key="InformationQueue" value="sys.information"/>
		<!--用户-->
		<add key="UserName" value="System"/>
		<!--密码-->
		<add key="Password" value="12345678"/>
		<!--授权码-->
		<add key="License" value="#system.sys.01#"/>
		<!--SDK调用日志队列名-->
		<add key="MqttLoggerQueue" value="sys.log.mqttsdk"/>
		<!--控制权限代码-->
		<add key="ControlPermision" value="7A2094751967D02C"/>
		<!--客户端IP地址范围，*号表示任意地址-->
		<add key="IpAddress" value="172.*"/>
	</appSettings>
</configuration>